.app-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.github-popular-repositories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.heading {
  color: #0f172a;
  font-family: 'Lobster';
  font-size: 48px;
  margin-bottom: 48px;
}

.filters-list-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}

.repositories-cards-list-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  max-width: 1140px;
}
